 /* ########## GENERAL ######## */
 @font-face {
    font-family: "inter";
    src: url(./Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf)
  }


* {
    margin: 0;
    padding: 0;
}

/* ##########   BODY ######################### */

body {
    margin: O auto;
    font-family: "inter", sans-serif;
    color: black;
    /* 100% de la hauteur de la page */
    font-size: 1rem;
    font-weight: 320;
    
    
}


/* ############  HEADER ################ */

.top-page{
    width: 100%;
    display: flex;
    height: 28vh;
    
}

.header {
    display: flex;
    height: 28vh;
    width: 100%;


}

.photo {
    display: flex;
    align-items: center;
    height: 28vh;
    width: 28vh;
}

.titre {
    background: url(./img/gris.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    width: 100%;

}

nav.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 220px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 0.9rem;
}

nav.nav li {
    display: flex;
    color: black;
}


h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 18px;
    font-weight: 600;
    font-size: 2.2rem;
    color: rgba(34, 108, 212, 0.889);
}

h2 {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 35px;
}

/* ############# MAIN - CONTENU ############### */

.main{
    display: flex;

}


/* ######## MAIN BLOC COLONNE CONTACT ET AUTRES */

.admin {
    background: linear-gradient(rgba(141, 192, 240, 0.74),white);
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    width: 28vh;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: large;
}

.picto {
    padding-top: 30px;
    align-self: center;
    height: 40px;
    width: 20%;
}

.logo {
    height: 20px;
    width: 55%;
}

.logo-git {
    height: 30px;
    width: 12%;
    font-size: smaller;
}

.lien {
    font-size: 0,5rem;
    color: rgb(35, 35, 50);
}

.lien:hover {
    color :green;
}

.infos-web {
    display:flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
}
/* ####### MAIN BLOC EXPERIENCE ######## */

.main-experiences {
    background:white;
    width: 75%;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 1rem;
    min-width: 50%;
   }

h3{
    font-size: 1.2rem;
    font-weight: 490;
    margin-bottom: 5px;
}


.poste {
  font-weight: 400;
  color: black
}

.experience {
    margin: 5px;
    margin-bottom: 20px;
}

.contacts{
    display: flex;
    flex-direction: column;
}

.duree {
    color: gray;
    font-weight: 395;
}

/* SECTION COMPETENCES /FORMATION */
.compétences{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgb(144, 188, 226),white);
    min-height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}
.img-certif{
    display: flex;
    align-content: center;
}
.picto-certif{
    height: 45px;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 35px;
}

.certifications{
    padding-top: 45px;
}
.picto-formation{
    float: left;
    height: 20px;
    width: 8%;
}

.titre-formation{
    display: flex;
    align-content: center;
    padding-bottom: 10px;
    padding-left: 15px;
}

.liste-formation {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-top: 20px;
}

.nom-ecole {
    font-weight: 500;
}