 /* ########## GENERAL ######## */
 @font-face {
    font-family: "inter";
    src: url(./Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf)
  }


* {
    margin: 0;
    padding: 0;
}

/* ##########   BODY ######################### */

body {
    margin: O auto;
    font-family: "inter", sans-serif;
    color: black;
    /* overflow: hidden; */



/* 100% de la hauteur de la page */
    font-size: 1rem;
    font-weight: 320;
    
    
}


/* ############  HEADER ################ */

.top-page{
    display: flex;
    height: 28vh;
    width: 100%;
}

.header {
    display: flex;
    height: 28vh;
    width: 100%;


}

.photo {
    display: flex;
    height: 28vh;
    max-width: 28vh;
}

.titre {
    background: url(./img/gris.png);
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    padding-top: 0px;

}

.nom-prenom {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 2.5rem;
    color: rgba(34, 108, 212, 0.889);
}

.titre-poste {
    text-align: center;
    font-size: 3.2rem;
    font-weight:350;
    padding-top: 25px;
    padding-bottom: 0px;
}

nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
}

.titre-skill {
    display: flex;
    text-align: justify;
    padding-right: 5px;
}

/* ############# MAIN - CONTENU ############### */

.main{
    display: flex;
}

/* ######## MAIN ADMIN CONTACT / OUTILS */

.admin {
    background:rgba(34, 108, 212, 0.889);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
    min-width: 28vh;
}

.picto-contact {
    padding-top: 40px;
    align-self: center;
    height: 40px;
    width: 20%;
}

.contact-titre {
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.contacts{
    display: flex;
    flex-direction: column;
    font-weight: 900;
}

.contact-texte {
    font-size: 1.2rem;
}

.contact-email {
    font-size: 1rem;
}

.picto-outil {
    padding-top: 60px;
    align-self: center;
    height: 35px;
    width: 15%;
    size: 10px;
}

.outil-titre {
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 1.3rem;
}

.logo {
    height: 47px;
    width: 60%;
}

.lien {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(35, 35, 50);
}

.lien:hover {
    color :green;
}

.infos-web {
    display:flex;
    justify-content: center;
    font-size: 0.8rem;
    padding-top: 30px;
}

.logo-github {
    height: 44px;
    width: 18%;
    padding-top: 30px;
}

.anglais-titre {
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 1.2rem;
}

.projets {
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 1.2rem;
}

.loisir {
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 10px;
    font-weight: 450;
    font-size: 1.2rem;
}

/* BLOCK CERTIFICATION ET FORMATION */
.block-formation {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    background: linear-gradient(white,rgba(34, 108, 212, 0.889));
    background: rgba(141, 192, 240, 0.74);
    width: 100%;
}

/* BLOCK CERTIFICATION */

/* block certification et langages */
.block-certification {
    min-width: 0%;
    padding-top: 36px;
    padding-right: 0px;
    padding-left: 30px;
}

/* logo certification */
.picto-certif {
    height: 33px;
    width: 20%;
    padding-top:45px;
    padding-bottom: 3px;
    padding-left: 40px;
}

/* titre certification */
.titre-certif {
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 3px;
}

.titre-language {
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 15px;
    padding-bottom: 3px;
}

.contenu-certif {
    font-size: 1.2rem;
}
/* BLOCK FORMATION */

/* bloc formation école */
.formation {
    margin: 15px;
    font-size: 1.2rem;
    padding-left: 40px;
}
/* picto diplome */
.picto-formation {
    height: 35px;
    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
}

.titre-formation {
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    height: 40px;
    width: 30px;
    font-size: 1.7rem;
    font-weight: 480;
}

.liste-formation {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.formation {
    margin: 15px;
}
.nom-ecole {
    font-weight: 450;
    font-size: 1.3rem;
}

.contenu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



/* ####### MAIN EXPERIENCE ######## */

/* block expérience */
.main-experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-left: 100px;
    font-size: 1.3rem;
    min-width: 50%;
    background: rgb(226, 223, 223);
   }

/* titre du bloc expérience */
.titre-experience {
    font-weight: 400;
    font-size: 2.4rem;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-right: 100px;
    color: grey;
    text-shadow: 1px 1px 2px rgba(34, 108, 212, 0.889);
}

.titre-emploi {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.titre-emploi-clicked {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 500;
    color: white;
}

.poste {
  font-weight: 400;
  color: black
}

.poste-next-regie {
    padding-bottom: 8px;
}

.experience {
    margin: 5px;
    margin-bottom: 30px;
}

.experience-sfr {
    padding-right: 15px;
    margin: 5px;
    margin-bottom: 30px;
}

.experience-regie {
    padding-right: 50px;
    margin: 5px;
    margin-bottom: 30px;
}


.experience-b2b {
    padding-right: 80px;
    margin: 5px;
    margin-bottom: 30px;
}

.experience-chef-de-projet {
    padding-right: 60px;
    margin: 5px;
    margin-bottom: 30px;
}

.chef-de-projet {
    padding-right: 75px;
    margin: 5px;
    margin-bottom: 30px;
}

.duree {
    color: gray;
    font-weight: 500;
    margin-bottom: 3px;
}

.fonction {
    margin-bottom: 10px;
}

*.mousemove {
    height: 15px;
    width: 15px;
    border: 2px solid blue;
    position: absolute;
    transform: translate(-55%,-55%);
    border-radius: 15px;
    transition: 0.4s ease;
    z-index: -1;
}


/* .admin::after {
    content: "";
    height: 150px;
    width: 150px;
    background: radial-gradient(circle closet-side, rgda(255,55,255,2), transparent);
    position : absolute;
    transform: translate(-50%, -50%);

}

.admin:hover::after {
    opacity: 1;
}
*/


