/*********************  BURGER ***************/

/* STYLE BURGER DEPLOYER  - MENU OUVERT */
.burger {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left : -250px;
    background-color:#b2e5e5 ;
    padding-top: 60px;
    transition: left 0.5s ease;
}


/* STYLE CONTENT BURGER */
.burger a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    display: block;
    transition: 0.3s;
}

.burger a:hover {
    color: #111;
}

/* STYLE LISTE  */ 
.burger ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.liste-projet {
   margin-left: 30px;
  font-size: 1.4em;
  font-weight: bold;
}


/*** ACTIF CLASS BURGER ***/ 

.active {
    left: 0;
}

/* REPLIER LE BURGER */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

/*  LOGO BURGER   */ 
.burger-logo span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
}
