
 /* ########## GENERAL ######## */
 
 // <uniquifier>: Use a unique and descriptive class name
 // <weight>: Use a value from 400 to 900
 
 .maven-pro-<uniquifier> {
   font-family: "Maven Pro", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
 }

 /* ########## BODY ######## */

body {
    font-family:"Maven Pro", sans-serif;
}

/*****  HEADER  **********/

.header {
    width: 100%;
    height: 206px;
    display: flex;
    position: relative;
}

.entete-header {
    width: 100%;
    height: 206px;
       /* on met les elemnts encadres par cette balise sur une seule ligne*/ 
    display: flex;
    /* le flex-wra: wrap sert à dire que si des elements ne rentrent pas sur la ligne, cad qu'ils sortent de leur parent alors ils vont aller sur une ligne suivante en-dessous*/
    color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #a8cfe2;
    font-weight: bold;
    font-size: 3rem;
}

h1, h2, img {
  
}

.sous-titre-header {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-top: 20px;
}

.logo-js {
    position: absolute;
    right:220px;
    top: 14px;
    width: 170px;
    height: 176px;
    border-radius: 50%;
}


.logo-site-header {
    position: absolute;
    left: 220px;
    top: 14px;
    width: 160px;
    height: 162px;
    border-radius: 50%;
    border: 8px solid black;
}


/******    MAIN   **********/

.container-projets {
    /* on met les elemnts encadres par cette balise sur une seule ligne*/ 
    background-color: #7ab0d7;
    display:flex;
    flex-wrap: wrap;
    /* permet de centrer horizontalement */
    justify-content: space-evenly;
    /* align-items permet de centrer verticalement les elements enfants par rapport au parent - si on ne met pas une taille sur les elements enfants et parents : les enfants vont prendre toute la taille du parent !!!  - ici on aligne les elements enfants en centre de l'element parent _ Mais il fau donner une taille (une hauteur - taille verticlale) à l'element  height*/
    align-items: center;
    row-gap: 50px;
    padding-top: 50px;
}

.projet-main {
    width: 450px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    border: 6px solid #2679b8;
    border-radius: 9px;
    color: white;
}

.nom-projet {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

.logo-projet {
    width: 200px;
    height:170px;
    border-radius: 5%;
}

.lien-git {
    font-size: 1rem;
    text-decoration: none;
    color: #a8cfe2;
   font-style: italic;
   text-transform: capitalize;
}

.projet-main a:hover {
    color: #d0ecea;
}

.commentaires {
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid;
    border-radius: 5%;

}

li {
    color:#302e38;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
}