
  @font-face {
    font-family: "inter";
    src: url(./inter/Inter-VariableFont_slnt\,wght.ttf);
  }


* {
    margin: 0;
    padding: 0;
}


body {
    /* background: url(./img/Profil_isa.jpg) center/cover; */
    font-family: "inter", sans-serif;
    color: black;
    min-height: 100vh;
    width: 100%;
    margin: 40px;
    /* 100% de la hauteur de la page */
    font-size: 1rem;
}


header {
    padding: 0;
    margin-left: 0px;
    /*display: grid;
    grid-template-columns: 18% 82%;*/
    display: flex;
   /* background-image: url(./img/gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size:  100% 250px*/
}

.photo {
    width:25%;
    min-width: 25%;
}
.img {
    height : 250px;
    width: 100%;
}

.nom {
    background: url(./img/gris.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size:  100% 250px;
    text-align: center;
    height: 250px;
    width: 75%;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 3rem;
    color: rgba(34, 108, 212, 0.889);
}

h2 {
    /*text-transform: uppercase;*/
    letter-spacing: 0;
    text-align: center;
    font-size: 2.7rem;
    
}

.competences {
    padding-top: 55px;
    color: rgb(31, 77, 162);
    font-weight: 500;

}

main{
    display: flex;
}
.div-main {
    background:white;
    min-height: 700px;
    width: 50%;
    padding-top: 25px;
    padding-left: 15px;
    font-size: 0.9rem;
   }

h3{
    font-size: medium;
    font-weight: 490;
}

.fonction {
  font-style: italic;
  
}

.poste {
  font-weight: 400;
  color: rgb(134, 152, 170);

}

.experience {
    margin-bottom: 25px;
  
}

.admin {
    width: 25%;
    background: linear-gradient(rgba(141, 192, 240, 0.74),white);
    text-align: center;
    font-size: 1rem;
   
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.picto {
    padding-top: 30px;
    height: 50px;
    width: 50px;
}
/* Flexbox sert à repartir des éléments sur la box */

