
 
 
 /* ########## GENERAL ######## */
 @font-face {
    font-family: "inter";
    src: url(./inter/Inter-VariableFont_slnt\,wght.ttf);
  }


* {
    margin: 0;
    padding: 0;
}

/* ##########   BODY ######################### */

body {
    margin: O auto;

    /* background: url(./img/Profil_isa.jpg) center/cover; */
    font-family: "inter", sans-serif;
    color: black;
    /* 100% de la hauteur de la page */
    font-size: 1rem;
}


/* ############  HEADER ################ */

section.top-cv {
    background: url(./img/gris.png);
    background-size: cover;
    align-items: center;
    height: 35vh;
}

header{
    display: flex;
    align-items: center;
}

.photo {
    display: flex;
    align-items: center;
    height: 35vh;


}

.titre {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    padding-left: 200px;
 
}

nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 220px;
    padding-left: 40px;
    padding-top: 60px;
    font-size: 0.8rem;

}

nav.nav li {
    color: black;
}


h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 2.2rem;
    color: rgba(34, 108, 212, 0.889);
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
}

/* ############# MAIN - CONTENU ############### */

main{
    display: flex;
}


/* ######## MAIN BLOC COLONNE CONTACT ET AUTRES */

.admin {
    width: 35vh;
    background: linear-gradient(rgba(141, 192, 240, 0.74),white);
    font-size: 1rem;
    text-align: center;
    font-weight: 350;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: large;
}

.picto {
    padding-top: 30px;
    height: 50px;
    width: 17%;
    height: 3%;
    
}

.logo {
    height: 30px;
    width: 12%;
}


.logo-git {
    height: 30px;
    width: 12%;
    font-size: smaller;
}

.lien:link {
    color: red;
    font-size: 0,5rem;
}

.infos-web {
    display:flex;
}
/* ####### MAIN BLOC EXPERIENCE ######## */

.div-main {
    background:white;
    width: 75%;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
   }

h3{
    font-size: 1.2rem;
    font-weight: 490;
    margin-bottom: 5px;
}


.poste {
  font-weight: 400;
  color: black
}

.experience {
    margin: 5px;
    margin-bottom: 20px;
}



